@tailwind base;
@tailwind components;
@tailwind utilities;

.msg-form {
  @apply fixed bottom-0 w-11/12; /* 90% width */
}

.col-md-10 {
  @apply h-screen overflow-scroll; /* Full height and scrollable */
}

.msg-content {
  @apply w-4/5 mr-2; /* 80% width and margin-right */
}
.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
}
