.px-4.py-2
  = form_with model: [@single_room, @message], remote: true, class: "flex space-x-2 items-center", data: { turbo_frame: "messages" } do |f|
    = f.text_field :content, id: 'chat-text', class: "w-full border rounded-full py-2 px-4 mr-2", autocomplete: 'off'
    = f.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full", data: { disable_with: false }
